# Dependencies
Backend/node_modules/
Frontend/node_modules/

# Build outputs
Frontend/.next/
Frontend/out/
Frontend/build/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env files
*.env
*.env.*

# OS/editor
.DS_Store
Thumbs.db
